// Fonts
$font: Helvetica;

// Fonts Weights
$light:300;
$bold:500;
$bolder:900;

// Measurements
$maxWidth: 1380px;
$minWidth: 320px;
$fullWith: 100%;
$halfWith: 50%;
$thirdWith: 33%;


// Colors
$whiteOpacity: rgba(255, 255, 255, 0.8);
$black: #000000;
$white: #ffffff;
$red: #f63d56
